=simple_form_for @car, :url => { :controller => :cars } do |f|  
  =f.file_field :avatar
  br
  br
  =f.input :brand
  br
  =f.input :fuel_type
  br
  =f.input :engine_capacity
  br
  =f.input :amount_guggage
  br
  =f.input :doors_count
  br
  =f.submit
  br
  br
=link_to "Back", root_path
end
