=simple_form_for @car, :url => { :controller => :cars, :action => :update } do |f|
  =image_tag @car.avatar_url, width:"200px"
  br
  =f.file_field :avatar
  br
  br
  =f.input :brand
  br
  =f.input :fuel_type
  br
  =f.input :engine_capacity
  br
  =f.input :amount_guggage
  br
  =f.input :doors_count
  br
  =f.button :submit
  br 
  br
=link_to "Back", root_path
end
