h2
  =@title
ul
  li
    =image_tag 'car.jpg', width:"500" 
    =link_to "Cars", cars_path
  li
    =image_tag 'bike.jpg', width:"500"
    =link_to "Bikes", bikes_path
  li
    =image_tag 'truck.jpg', width:"500"
    =link_to "Trucks", trucks_path
    
